:root {
  --primary-width:100%;
  --primary-colour1 : goldenrod;
  --primary-colour2 : rgb(161, 237, 144);
  --secondary-colour: white;
  --primary-font-weight:700;

}

html,
body {
  width: var(--primary-widthprimary-colour1);
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

/* Navigation styling */
.mainNav {
    position: fixed;
    width: var(--primary-width);
    margin: 0px ;
    background-color: grey transparent !important;
    background-size: cover;
    z-index: 10;
  }
  .mainNav a{
    color: var(--primary-colour2) !important;
    font-weight: var(--primary-font-weight);
    
    
  }

  .mainNav a:hover, .mainNav a:focus{
    color: rgb(218, 205, 33) !important;
    font-weight: var(--primary-font-weight);
    
  }

  .mainNav .navHead{
    color: rgb(228, 200, 22) !important;
    font-size: 20px;
    font-weight: var(--primary-font-weight);
    font-style: italic;
    font-family: 'Quatera' sans-serif;
  
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .nav-item {
    margin: 0px 15px;
  }

  /* Home Page Section  */
.home {
    background-image: url("/image-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    width: var(--primary-width);
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
  .home p,h1{
    color: var(--primary-colour2);
    font-weight: var(--primary-font-weight);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .content {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

  .profile {
    width: 30%;
    display: inline-flex;
    float: right;
    height: 50%;
  }
  .profile img{
    margin-left: 70px;
    margin-top: -30px;
    border-radius: 150px;
  }

  .scroll {
    background-color: var(--secondary-colour);
    color: var(--primary-colour2);
    border-style: none;
    font-weight: var(--primary-font-weight);
    
  }

  .scroll:hover, .scroll:focus{
    background-color: var(--primary-colour2);
    color:var(--secondary-colour);
    font-weight: var(--primary-font-weight);
    box-shadow: 10px 10px var(--secondary-colour);
  }
 


/* work section */
  .project-content {
    padding: 20px 10px;
    background-color: var(--primary-colour1);

  }
  .card{
    margin: 0 ;
  }
   .heading{
    text-align: center;
    color: var(--primary-colour2);
    font-weight: 800;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   }
   .project{
    margin: 10px auto;
    padding: 10px;
    
   }
  
  .cardContent{
    display: inline-flex;
    margin-top: 20px;
    text-align: center;
    padding: 0 10px;
    max-width: 24%;
    
   }

   .cardContent h3{
    font-size: 15px;
    font-weight: var(--primary-font-weight);
    color: var(--primary-colour1);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
   }

   .click {
    background-color: var(--primary-colour1);
    text-decoration: none;
    border-style: none;
    color: var(--primary-colour2);
    font-weight: var(--primary-font-weight);
    
  }

  .click:hover, .click:focus{
    background-color: var(--primary-colour2);
    color:var(--primary-colour1);
    font-weight: var(--primary-font-weight);
    box-shadow: 10px 10px var(--primary-colour1);

  }

   
  /* skill page section */
  .skillSet{
    width: var(--primary-width);
    margin: 0;
    background-color: rgb(105, 120, 102) !important;
    padding: 30px;
   
  }
  .stages {
    display: flex;
    height: 20%;
    margin: 10px 10px ;
    border-radius: 70px;
    background-color: transparent;
    
  }
   .stages h4{
    width: 40%;
    height: fit-content;
    padding-left: 10px;
    color:var(--primary-colour2);
    display: inline-flex;
    flex-direction: column;
    font-weight: 600;
  }

  .stages .bar{
    width: 50%;
    flex-direction: column;
    border-radius: 50px;
  }

  /* about me styling section */
  .about-me{
    background-color: var(--primary-colour2) ;
    display: flex;
    width: var(--primary-width);
    margin-bottom: 0;
    padding-top: 20px;
    align-items: center;
    justify-content:center;
  }

   
  .about-me h5{
    text-align: center;
    color:var(--secondary-colour);
    font-weight: 800;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  .about-me p{
    color:var(--secondary-colour) ;
    margin: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
  }


  /* footer section */
  .footer{
    background-color: var(--primary-colour1);
    padding: 0;
    margin-bottom: 0;
  }

 .logo{
  margin-bottom: 0;
  justify-content: space-evenly;

 }
 .logo img{
  border-radius: 500px;
  margin-bottom: 0;
  width: 139px;
  height: 139px;
 }

 .copy p{
  margin-bottom: 0;
  text-decoration: none;
  color:var(--primary-colour2);
 }
 .send{
  text-decoration: none;
  color:var(--primary-colour2);
  font-weight: 900;
 }
 .send:hover, .send:focus{
   color:var(--secondary-colour);
  font-weight: var(--primary-font-weight);
  text-decoration: none;
  opacity: .5;
 }
